<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA">
                    <match url=".*\.(css|js|ico|png|jpg|jpeg|gif|woff|woff2|ttf|svg|eot|otf|map)$" negate="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern=".*\.(css|js|ico|png|jpg|jpeg|gif|woff|woff2|ttf|svg|eot|otf|map)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
